/*----------------*/
/*      SETUP     */
/*----------------*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 20px;
    color: #fff;
}

/*----------------*/
/*     HEADER     */
/*----------------*/

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.98)), url("https://images.pexels.com/photos/708488/pexels-photo-708488.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}