@media only screen and (max-width: 1200px) {
    .logo {
        margin: -32px 0 0 30px;
        transform: scale(1, 1);
    }
    
    .nav-div ul li { margin: 40px 0;}
    
    .steps-box:last-child { margin-top: 47px;}
    
    .city-feature { font-size: 90%;}
}

@media only screen and (max-width: 1000px) {
    html, body { font-size: 18px;}

    .intro-box {
    position: absolute;
    top: 50%;
    left: 53%;
    width: 80%;
    }
    
    .nav-div ul:last-child { padding-right: 5px;}
    
    .works-step:last-of-type { margin-bottom: 45px;}
    .works-step { margin-bottom: 25px;}
}

@media only screen and (max-width: 834px) {
    html, body { font-size: 16px;}
    .nav-div ul:last-child { padding-right: 5px;}
    
    .logo {
        margin: -43px 0 0 20px;
        transform: scale(.9, .9);
    }
    
    div h2 + p { margin: 30px 70px;}
    
    .meal-photo img {
    transform: scale(1);
    opacity: 1;
    width: 200px;
    height: 150px;
    }
    
}